<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/assets/jquery.cookie.js" crossorigin="anonymous"></script>
<script>
        var currTheme = $.cookie("theme");
        if(currTheme){

            var existing = jtd.getTheme();

            if(currTheme != existing && currTheme != "default"){

                jtd.setTheme(currTheme);
                $("body").addClass(currTheme);
            }
            $.cookie("theme", currTheme, { expires: 365, path: '/' });
        }

      </script>
<script src="https://www.paperworkday.net/paper.generate.js" crossorigin="anonymous"  ></script>
<style>
    .document-container iframe{
        height: 600px !important;
    }

.site-header{
    position: fixed;
    z-index: 4;
    background-color: #27262b;
}

.site-header .icon{
    color:white
}

.site-header .site-button:hover{
    background-image: none;
    background-color: black;
}

.site-header a.site-title{
    background-image: none;
}

details ul#markdown-toc{
    font-size: smaller;
    line-height: 2;
}

details ul#markdown-toc li::before{
content: "";
}


.js-toggle-dark-mode{
    display: absolute;
    right: 200pt
}

blockquote.note {
        border: 1px #bdb0f3 solid;
    border-left: 4px solid #bdb0f3;
}

blockquote.note::before{
    color: #bdb0f3
}


body.light blockquote.note {
    border: 1px #381885 solid;
    border-left: 4px solid #381885;
}

body.light blockquote.note::before {
    color: #381885;
}

.nav-list-item .nav-list-item .nav-list-item .nav-list-link{
    font-style: italic;
    /* border-left: solid 1px #aaa; */
}

a, .nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active, .nav-list .nav-list-item .nav-list-expander{
    color: rgb(0,168,161);
}

code{
    font-size: 1em;
}


@media (max-width: 50rem) {

    .site-header{
        height: 2.5rem;
        border-bottom: #e6e1e8 1px solid;
    }
    
    .main-content-wrap{
        margin-top: 3.5rem;
    }

    .site-nav{
        padding-top: 4rem;
    }

    .site-nav.nav-open{
        border-bottom: #f5f6fa 1px solid;
    }

    .light .site-nav.nav-open{
        border-bottom: #27262b  1px solid;
    }

    .site-header a{
        color: white;
    }

    details.top-toc {
        margin-top: 1.5rem;
    }

    .site-nav{
        position: fixed;
        width: 100%;
        background-color: #27262b;
        max-height: 100%;
        overflow: auto;
        z-index: 2;
        margin-top: -4px;
    }

    .site-nav.nav-open{
        height: 100%;
    }

    .light .site-nav{
        background-color: #f5f6fa;
    }

    .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active, .nav-list-expander:hover{
        background-image: linear-gradient(-90deg, rgb(31.6333333333, 30.8222222222, 34.8777777778) 0%, rgba(31.6333333333, 30.8222222222, 34.8777777778, 0.8) 80%, rgba(31.6333333333, 30.8222222222, 34.8777777778, 0) 100%) !important;
    }

    .light .nav-list-link:hover, .light .nav-list .nav-list-item .nav-list-link.active, .light .nav-list-expander:hover{
        background-image: linear-gradient(-90deg, rgb(234.8, 236.82, 244.9) 0%, rgba(234.8, 236.82, 244.9, 0.8) 80%, rgba(234.8, 236.82, 244.9, 0) 100%) !important;
    }

    .nav-list-item > .nav-list{
        /* border-left: solid 1px #333; */
        padding-left: 1.75rem;
    }

    .light .nav-list-item > .nav-list{
        /* border-left: solid 1px #dadada; */
    }



    .search{
    width: calc(100% - 99px);
    left: 48px;
    height: 3rem;
    position: fixed;
    padding-top: 0.3rem;
    z-index: 4;
}

    .site-footer{
        display: none;
    }
}

@media (min-width: 65.5rem) {
    .side-bar{
        width: 16.5rem
    }

    .main{
        margin-left: 16.5rem !important;
        max-width: 80rem;
    }

    .main-header{
        width: calc(100% - 16.5rem);
    }
}


@media (min-width: 50rem) {

    .site-header{
        position: relative;
    }

    .main-header {
        position: fixed;
        background-color: #27262b;
        z-index: 2;
        width: calc(100% - 16.5rem);
    }

    .search{
        /* width: 36rem !important; */
    }

    .aux-nav{
        width: 12rem !important;
    }

    .main-content-wrap{
        padding-top: 100px;
    }

    .site-nav{
        padding-top: 1rem;
    }

    .main-header .icon{
        color: rgb(0,168,161)
    }

}



 @media (max-width: 31.25rem) {

    .search{
    left: 44px;
    width: calc(100% - 85px);
}
 }


</style>